.color1 {
  background: rgba(255, 0, 0, 0.3);
  background-repeat: repeat-x;
}

div,.color1{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 40px;
  margin-left: 70px;
}

div.color1{
  padding-top: 40px;
  padding-bottom: 200px;
  padding-right: 50.2px;
  padding-left: 180px;
}




.borde1 {
  /*border-color: rgba(0, 255, 0, 0.3);*/
 /*border-width: 7px;*/
 /*border-style: repeat-x;*/
border: groove rgba(0, 0, 255, 0.719)
}

div,.borde1{
 
  height: 200px;
  width: 200px;
}
div.borde1{

  height: 200px;
  width: 200px;
}

.borde2 {
  /*border-color: rgba(0, 255, 0, 0.3);*/
 /*border-width: 7px;*/
 /*border-style: repeat-x;*/
border: 5px double rgba(0, 197, 59, 0.822)
}

div,.borde2{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 40px;
  margin-left: 70px;
}



div,.span{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 40px;
  margin-left: 70px;
}



/*div {
  color: red; /* Asgina un color al texto */
 /* text-align: center; /* Alinea todo el texto en el centro */
 /* text-decoration-line: underline; /* Añade una linea debajo del texto */
  /*text-transform: uppercase; /* Pone todo el texto en mayuscula */

  /* font-family: "Times New Roman", Times, serif;
  /* Se asignan 3 tipos de fuentes al texto, si una letra no tiene estilo para "Times New Roman" se intenta asignar la siguiente y asi sucesivamente */


p {
  border-style: solid; /* Borde continuo, solido */
  border-style: dotted; /* Todo el borde punteado */
  border-width: 10px; /* Todos los bordes son de 10px */
  border-color: red;
}

span {
  border-style: hidden; /* Borde oculto, no es lo mismo que sin borde */
}