div {
  background-color: red;
}
#huevo {
  background-image: url("https://static.vecteezy.com/system/resources/previews/018/931/497/original/easter-egg-icon-png.png");
}

#fondo {
  background-image: url("fondo-pagina_ff13.png");
width: 500px;
height: 500px;
}

.color1 {
  background: rgba(0, 255, 0, 0.3);
  background-repeat: repeat-x;
}
.color2 {
  background: rgba(4, 0, 255, 0.3);
  background-repeat: repeat-x;
}
.color3 {
  background: rgba(255, 0, 0, 0.671);
  background-repeat: repeat-x;
}
.color4 {
  background: rgba(230, 255, 2, 0.3);
  background-repeat: repeat-x;
}
.color5 {
  background: rgba(0, 238, 255, 0.3);
  background-repeat: repeat-x;
}
.color6 {
  background: rgba(255, 0, 157, 0.3);
  background-repeat: repeat-x;
}
